.ex1 .header {
  background-color: black;
  height: 30px;
}
.ex1 .child-input {
  height: 100%;
  float: left;
  margin-right: 20px;
}
.ex1 .child-input span {
  margin-right: 10px;
  font-size: 16px;
  color: white;
}
.ex1 .child-input .value-input {
  font-size: 16px;
  margin-right: 10px;
}
.ex1 .child-input .parent-input {
  font-size: 16px;
}
.ex1 .node .name {
  display: inline-block;
  padding: 3px;
}
.ex1 .node .node-children-wrapper {
  padding-left: 20px;
}
